extends ../layout/page

block main
  h1= title

block content
  - if (tracks.length)
    - each track in tracks
      .list-information
        a.list-information-name(href="/track/"+track.id)= track.name
        .list-information-inf #{track.inform.distance} км
        - if (track.inform.time)
          .list-information-inf(title='Продолжительность') #{track.inform.time} ч.
        a.list-information-gallery.list-information-gallery-track-left(href="/track/#{track.id}/gallery") Галерея
        form(method="POST" id='remove_track' action="/track/#{track.id}")
          input(type="hidden" name="_method" value="DELETE")
          button(type="submit" onclick="return confirm('Вы уверены, что хотите удалить трек? Связанный альбом на Я.Фото так же будет удален!')") &#xD7;

