extends ../layout/page

block main
  h1= title
  ul
    li
      a(href='/track/#{track.id}/yandex') Загрузить фотографии
    li
      a(href='/track/#{track.id}/galery') Галерея
block content
  #map.map
  script(src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU")
  script.
    var myMap,
        testArray = !{JSON.stringify(images)};

    ymaps.ready(init);


    function init () {
        myMap = new ymaps.Map('map', {
            center:[44.958306, 34.109535],
            zoom:12
        });

        myMap.controls.add('zoomControl', {
          left: 2,
          top: 2
        });

        var setPhoto = function(coord, urlPicture){
            var myPlacemark = new ymaps.Placemark(coord, {
                    balloonContentBody:
                    "<img class='balloon-img' src='"+urlPicture+"' width='480'/>" +
                    "<div class='balloon-fullsize' onclick='ballonImageZoom()'>Увеличить фототграфию</div>",
                    hintContent: "Показать фотографию",
                }, {
                    iconImageHref: urlPicture,
                    iconImageSize: [10, 10],
                    iconImageOffset: [0, 0]
                });

            myMap.geoObjects.add(myPlacemark);
            };

          for (var i = 0; i < testArray.length; i++){
              setPhoto(testArray[i][0], testArray[i][1]);
              console.log('Number: ' + i);
          }

            var myPolyline = new ymaps.Polyline(#{coord}, {
              // Описываем свойства геообъекта.
              // Содержимое балуна.
              balloonContent: "Ваш трек"
            }, {
              // Задаем опции геообъекта.
              // Отключаем кнопку закрытия балуна.
              balloonHasCloseButton: false,
              // Цвет линии.
              strokeColor: "#26ff4a",
              // Ширина линии.
              strokeWidth: 4,
              // Коэффициент прозрачности.
              strokeOpacity: 0.8
            });

          myMap.geoObjects.add(myPolyline);
        };



    var ballonImageZoom = function(){
        var imgBalloon = document.getElementsByClassName('balloon-img')[0],
            imgBalloonSrc = imgBalloon.getAttribute('src'),
            imgSrc = document.getElementById('zoom-balloon-image');

        imgSrc.setAttribute('src', imgBalloonSrc);
        imgSrc.style.display = "block";

        setTimeout(function(){
            imgSrc.style.opacity = "1";
        }, 10);
        imgSrc.addEventListener('click', turnBallonImage);
    }

    var turnBallonImage = function(){
        var imgSrc = document.getElementById('zoom-balloon-image');
        imgSrc.style.opacity = "0";

        setTimeout(function(){
             imgSrc.style.display = "none";
        }, 700);

        document.body.removeEventListener('click', turnBallonImage);
      }